.App > * + * {
  margin-top: 16px;
}

.App nav {
  padding: 8px 16px 0px;
}

.App nav > * + * {
  margin-left: 16px;
}

.App nav a {
  text-decoration: none;
}

.App nav a.active-link {
  text-decoration: underline;
}
